body {
	background-color:ghostwhite;
	margin:0;	
	overflow-x: hidden;
	overflow-y: scroll;
}
#header {
	padding-top:1vw;
	padding-bottom: 3vw;
	margin-top:0;
	font-family: serif;
	width: 100vw;
	background-color: #3498db;
	text-align: center;
}
@media all and (min-width:200px) {
	#header h1 {
		color:ghostwhite;
	}
	#header p {
		color:ghostwhite;
		font-family:sans-serif;
		margin-bottom:3vw;
	}
	#content-title {
		text-align: center;	
	}
	#content-title h1 {
		text-indent:0px
	}
	#content-wrapper {
		text-align:center;
	}
	#doc-nav {
		margin:0;
	}
	#doc-nav p {
		padding:10px;
		margin:0;
		font-family: sans-serif;
	}
	#doc-nav p:hover {
		background-color:darkgray; 
	}
}
@media all and (min-width:600px) {
	#header h1 {
		color:ghostwhite;
		font-size:10vw;
	}
	#header p {
		color:ghostwhite;
		font-size:2vw;
		font-family:sans-serif;
		margin-bottom:3vw;
	}
	#content-title {
		text-align:center;
	}
	#content-title h1 {
		text-indent:0em;
	}
	#content-wrapper {
		text-align:center;
	}
	#doc-nav {
		margin:0;
	}
	#doc-nav p {
		padding:10px;
		margin:0;
		font-family: sans-serif;
	}
	#doc-nav p:hover {
		background-color:darkgray; 
	}
}
@media all and (min-width:1000px) {
	#header h1 {
		color:ghostwhite;
		font-size:6vw;
	}
	#header p {
		color:ghostwhite;
		font-size:2vw;
		font-family:sans-serif;
		margin-bottom:3vw;
	}
	#content-title {
		text-align:left;
	}
	#content-title h1 {
		text-indent:2em;
	}
	#content-wrapper {
		width:76vw;
		float:right;
		text-align: left;
	}
	#doc-nav {
		position: absolute;
		width:20vw;
		float:left;
		height:100%;
		list-style: none;
	}	
	#doc-nav p {
		margin:0;
		width: 100%;
		padding-top:10px;
		padding-bottom: 10px;
		color:black;
		font-family: sans-serif;
		text-indent:2em; 
	}
	#doc-nav p:hover {
		background-color: darkgray;
	}
}
#content {
	display: inline-block;
	text-align: left;
	max-width: 80vw;
	background-color: ghostwhite;
}
#content h2 {
	text-align: center;
}
#terminal {
	width:100vw;
}
#terminal pre {
	border-left:white dashed;
	width:50%;
	display: inline-block;
	margin-right:-8px;
	padding:0;
} 
#content-title {
	background-color:#282b2e;
	width:100%;
}
#content-title h1 {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
	margin:0;
	padding:0;
	color:white;
	font-family: sans-serif;
	line-height: 2; 	
	width:auto;
}
pre {
	border-radius: 5px;
	overflow: hidden;
}
#after-title {
	height:100%;
	overflow: hidden;
}
#content h2 {
	font-family: sans-serif;
	text-align: left;
}
.buttons {
	float:right;
}
.buttons p {
	display: inline-block;
	color:white;
	height:auto;	
	min-height: 100% !important;
	background-color: red;
}
#content-wrapper ul {
	list-style: none;
} 
#doc-nav {
	background-color: lightgray;
	margin:0;
}